.bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #130f11;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box{
    width: 700px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    position: relative;

}

#newList{
    font-weight: bold;
    font-size: 30px;
}

input{
    width: 70%;
    height: 60px;
    display: block;
    margin: 30px auto;
    color: #130f11;
    border: #bfaaaf;
    border-radius: 5px;



}

.CreateButton{
    border-radius: 5px;
    background-color: #2e387d;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 40px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

.close{

    position: absolute;
    top: 0;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;

}