<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="menubar.css">
    <link rel="stylesheet" href="Wishlist.css">
    <link rel="stylesheet" href="AddWishPopup.css">
    <title>Wishfull</title>

</head>
<body>
<header>
    <div class="wrapper">
        <h1>Wishfull<span class="color">.</span></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/wishlists">Wishlists</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
            </nav>
     </div>
</header>

<div class="bg">

    <div class="popup-box">

        <div class="box1">
            <br><br><br><br>
            <img src="gavebox.png" width="100px">
            <br><br><br><br><br>
            <p id="newList">You are adding a new wish!</p>
        </div>


        <div class="box2">
            <div class="close">
                <a href="/wishlist">+</a>
            </div>
            <br><br>
            <form action="/addwish" method="post">
                <label for="title"></label>
                <input type="text" name="title" placeholder="Title" required>

                <label for="description"></label>
                <input type="text" name="description" placeholder="Description">

                <label for="price"></label>
                <input type="text" name="price" placeholder="Price">

                <label for="link"></label>
                <input type="text" name="link" placeholder="link">

                <button type="submit" class="CreateButton">Create</button>
            </form>
        </div>
    </div>


</div>


</body>
</html>