<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="menubar.css">
    <link rel="stylesheet" href="AllWishlists.css">
    <link rel="stylesheet" href="AddWishlistPopup.css">
    <title>Wishfull</title>
</head>

<body>
<header>
    <div class="wrapper">
        <h1>Wishfull<span class="color">.</span></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/wishlists">Wishlists</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="line-1"></div>
<div class="line-2"></div>

<div class="wrapper">

    <h2>Your wishlists</h2>

    <button> + New wishlist</button>
    <br>

</div>


<!-- popup -->

<div class="bg">
    <div class="popup-box">
        <img src="list.png" width="100px">
        <p id="newList">New Wishlist</p>

        <div class="close">
            <a href="/wishlists">+</a>
        </div>

        <form action="/addwishlist" method="post">
            <label for ="title" ></label>
            <input type="text" name="title" placeholder="Title" required>
            <br>
            <br>
            <br>
            <button type="submit" class="CreateButton">Create</button>
        </form>
    </div>


    </div>
    </body>
</html>