<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="menubar.css">
    <link rel="stylesheet" href="Profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<header>
    <div class="wrapper">
        <h1>Wishfull<span class="color">.</span></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/wishlists">Wishlists</a></li>
                <li><a href="/login">Profile</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>


<div class = "wrapper">

    <div class="container" id="container2">

    <h2>HI THERE <br> <output th:text="${loggedUser.getFirstname}"></output> ! <br>
        Welcome to <br> your <br>
        profile
    </h2>
    </div>

    <div class="container">

        <div class="form-group">

            <label for="firstname"> Firstname</label>
            <input type="text" class="form-control" id="firstname" th:value="${loggedUser.getFirstname}"><br>

            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" th:value="${loggedUser.getSurname}"><br>

            <label for="eMail">Email</label>
            <input type="email" class="form-control" id="eMail" th:value="${loggedUser.getEmail}"><br>

            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" th:value="${loggedUser.getPhoneNumber}"><br>

            <label for="birthday">Birthday</label>
            <input type="text" class="form-control" id="birthday" th:value="${loggedUser.getBirthday}"><br>

            <label>Current Password</label>
            <input class="form-control" type="password" placeholder="••••••">

            <label>New Password</label>
            <input class="form-control" type="password" placeholder="••••••">

            <button type="submit" id="btn btn-primary" >Update </button> <br>
            <button type="submit" id="btn btn-secondary">Cancel</button>
        </div>
    </div>

</div>

<!--

<li th:text="${loggedUser.getFirstname}"></li>
<li th:text="${loggedUser.getSurname}"></li>
<li th:text="${loggedUser.getEmail}"></li>
<li th:text="${loggedUser.getPassword}"></li> -->





</body>
</html>