<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="menubar.css">
    <link rel="stylesheet" href="Wishlist.css">
    <title>Wishfull</title>

</head>
<body>
<header>
    <div class="wrapper">
        <h1>Wishfull<span class="color">.</span></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/wishlists">Wishlists</a></li>
                <li><a href="/login">Profile</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="wrapper">


    <button onclick="window.location='/addwish';"> + Add wish</button>
    <br>


    <tr th:each="wish: ${userWishes}">

        <!--<div onclick="window.location='/wishlist';" class="card">
            <div class="cardLogo">
                <img src="logo.png" alt="Logo" width="150px">
            </div>
            <div class="info-container">
                <h3>Title</h3>
            </div>
        </div> -->
        <div class="card">
            <div class="cardLogo">
                <img src="logo.png" alt="Logo" width="150px">
            </div>

            <td th:text="${wishlist.getWishName}"/>
            <td th:text="${wishlist.getDescription}"/>
            <td th:text="${wishlist.getPrice}"/>
            <td th:text="${wishlist.getLink}"/>

        </div>

    </tr>


</div>

</body>
</html>