<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="menubar.css">
    <link rel="stylesheet" href="Wishlist.css">
    <title>Wishfull</title>

</head>
<body>
<header>
    <div class="wrapper">
        <h1>Wishfull<span class="color">.</span></h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/wishlists">Wishlists</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/">Log out</a></li>
                <li><a href="#">Contact</a></li>

            </ul>
        </nav>
    </div>
</header>
<div class="wrapper">

    <h2>
        <td th:text="${wishlistTitle}"/>
    </h2>

    <button id ="add" onclick="window.location='/addwish';"> + Add wish</button>
    <br>


    <tr th:each="wish: ${wishlist}">

        <div class="card">
            <form class="trash"method="post">
                <input type="hidden" name="wishlistID" th:value="${wish.getWishListID}">
                <input type="hidden" name="wishName" th:value="${wish.getWishName}">
                <input type="image" class="submitImg" src="trashcan.png" width="30px">

            </form>

            <img src="gavebox.png" alt="Logo" width="60px">

            <div class="info-container">
                <h3>
                    <td th:text="${wish.getWishName}"/>
                </h3>
                <hr>
                <div class="text">
                    <td th:text="${wish.getDescription}"/>
                </div>
                <hr>
                <div class="text">
                    <td th:text="${wish.getPrice}"/>
                    kr.
                </div>
                <hr>
                <div class="text">
                    <td th:text="${wish.getLink}"/>
                </div>
                <hr>
            </div>
        </div>

    </tr>


</div>

</body>
</html>